<%= form_for(@user) do |f| %>
  <div class="form-group">
  <%= f.label :image, '写真' %><br>
  <%= image_tag @user.image.url, :size =>'50x50' %><%= f.file_field :image %>
  </div>
  
  <div class="form-group">
  <%= f.label :family_name, '性' %>
  <%= f.text_field :family_name, class: 'form-control' %>
  <%= f.label :first_name, '名' %>
  <%= f.text_field :first_name, class: 'form-control' %>
  </div>


  <div class="form-group">
  <%= f.label :family_name_kana, 'セイ' %>
  <%= f.text_field :family_name_kana, class: 'form-control' %>
  <%= f.label :first_name_kana, 'メイ' %>
  <%= f.text_field :first_name_kana, class: 'form-control' %>
  </div>

  <div class="form-group">
  <%= f.label :nickname, 'ニックネーム' %>
  <%= f.text_field :nickname, class: 'form-control' %>
  </div>

  <div class="form-group">
      <%= f.label :sex, '性別', class:'control-label' %>
      <%= f.select :sex, [["",""], ["女性","女性"], ["男性","男性"]], {},   class: 'form-control' %>
  </div>

  <div class="form-group">
      <%= f.label :faculty, '学域', class:'control-label' %>
      <%= f.select :faculty, [["",""], ["人間社会","人間社会"], ["理工","理工"], ["医薬保健","医薬保健"] ],    class: 'form-control' %>
  </div>
  
  <div class="form-group">
      <%= f.label :subject, '学類', class:'control-label' %>
      <%= f.select :subject, [["",""], ["人文","人文"], ["経済","経済"], ["法","法"], ["地域創造", "地域創造"], ["国際", "国際"], ["数物科学", "数物科学"], ["物質科学", "物質科学"], ["電子情報通信", "電子情報通信"], ["生命理工", "生命理工"], ["フロンティア工学", "フロンティア工学"], ["機械", "機械"], ["薬学", "薬学"], ["保健", "保健"], ["医学", "医学"]  ],   class: 'form-control' %>
  </div>
  
  <div class="form-group">
  <%= f.label :course, 'コース' %>
  <%= f.text_field :course, class: 'form-control' %>
  </div>

  <div class="form-group">
  <%= f.label :nick_name, '研究室・ゼミ' %>
  <%= f.text_field :labratory, class: 'form-control' %>
  </div>

  <div class="form-group">
  <%= f.label :club, '部活・サークル' %>
  <%= f.text_field :club, class: 'form-control' %>
  </div>

  
  
  <%= f.submit 'プロフィール編集を完了する', class: 'btn' %>
<% end %>