<div class="single-page user-profile">
  <h1><%= @user.nickname %>さんのページ</h1>
  <%= image_tag @user.image.url, :size =>'320x320' %>
  <table>
    <tr>
      <td><%= @user.family_name %></td>
      <td><%= @user.first_name %></td>
    </tr>
    <tr>
      <td><%= @user.family_name_kana %></td>
      <td><%= @user.first_name_kana %></td>
    </tr>
    <tr>
      <td colspan="2"><%= @user.nickname %></td>
    </tr>
    <tr>
      <td colspan="2"><%= @user.sex %></td>
    </tr>
    <tr>
      <td colspan="2"><%= @user.faculty %></td>
    </tr>
    <tr>
      <td colspan="2"><%= @user.subject %></td>
    </tr>
    <tr>
      <td colspan="2"><%= @user.labratory %></td>
    </tr>
    <tr>
      <td colspan="2"><%= @user.course %></td>
    </tr>
    <tr>
      <td colspan="2"><%= @user.club %></td>
    </tr>
    <% if @user.id == current_user.id %>
      <tr>
        <td colspan="2"><%= link_to '編集', edit_user_path(current_user.id),  class: 'btn' %></td>
      </tr>
    <% end %>
  </table>
</div>