<div class="single-page">
  <h1>回答を入力</h1>
  <p><%= @question.content %></p>
  <%= form_for Answer.new, html: {class: "form"} do |f| %>
    <%= f.text_area :content %>
    <%= f.hidden_field :question_id, :value => @question.id  %>
    <%= f.submit :回答する, class: "btn"%>
  <% end %>
</div>



