<p><%= @question.content %></p>

<%= form_for Answer.new do |f| %>
  <%= f.label :回答を入力 %>
  <%= f.text_area :content %>
  <%= f.hidden_field :question_id, :value => @question.id  %>
  <%= f.submit :回答する%>
<% end %>